@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar-logo{
  font-family: Bebas Neue;
}

.navbar-link {
  font-family: Bebas Neue;
}

.navbar-link {
  position: relative;
  padding-bottom: 5px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link.active {
  color: #0070f3;
}

.navbar-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0070f3;
  transition: width 0.3s ease-in-out;
}

.navbar-link.active::after {
  width: 100%;
}

@media (max-width: 640px) {
  .navbar-link {
    color: #fff;
  }

  .navbar-link::after {
    width: 0;
  }
}

.hero-text {
  text-align: justify;
}

.footer-text {
  font-family: Bebas Neue;
}